# Note that not all variables here might be in use for your selected configuration

# Prisma

DATABASE_URL=postgresql://postgres:@localhost:5832/db

# Next Auth

NEXTAUTH_SECRET=Xu/R0Euhc6xgfobTiR4lrIc9Ms9DvFdl7PzfMtknRaA=
NEXTAUTH_URL=http://localhost:3000
